.header-container {
  background-color: var(--header-bg);
  max-height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-title {
  color: white;
  font-weight: bold;
  font-size: 2.4rem;
}

.header-button {
  border: none;
  background: none;
  font-size: 1.8rem;
  color: whitesmoke;
  cursor: pointer;
}

.header-button:hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  .header-container {
    height: 50px;
  }

  .header-title {
    display: none;
  }

  .header-button {
    font-size: 1.4rem;
  }
}
